
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color:#e7f2fb; 
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 20px;
    
}

h1{
    font-family: "Fascinate Inline", system-ui;
    font-size: 130px; 
}

h4{
    font-family: "Comic Relief";
    font-size: 20px;
}

#play{
    font-family: "Fascinate Inline", system-ui;
    width: 150px;
    font-size:30px;
    border-radius: 10px; 
    border:px3 solid black;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:80px;
    padding: 20px;
}

.dc{
    display: flex; 
    text-align: center;
    gap:100px
}

img{
    width:200px;
    height: 200px;
}

#p1{
    height: 20px;

}

#p2{
    height: 20px;
}

footer{
   background-color: rgb(255, 255, 255); 
   height: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}

footer p{
    text-align: center;
    font-family: "Comic Relief";
}
@media (min-width:601px) and (max-width:1000px){
    body{
        padding:100px 0PX 0PX 0PX;
    }
    h1{
        font-size: 90px;
    }
    img{
        width:200px;
        height:200px;
    }
}
 

@media (max-width:600px){
 
    h1{
        font-size: 60px;
    }
    img{
        width:100px;
        height:100px;
    }
}